:root {
    --fs-xl: 3rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
}


@media (min-width: 40em) {
    :root {
        --fs-xl: 6rem;
    }
}


h1 {
    font-size: var(--fs-xl)!important;
}

img {
    height: 80%;
    width: 100%;
}
header {
    background-image: url('../img/índice.webp');
    background-size: cover;
    background-attachment: fixed;

    height: 25rem;
    color: white;
    
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
}

body {
    margin: 0;
    padding: 0;
}




#porque {
    padding: 1%; 
}

.data {
    margin-top: 10px;
    margin-bottom: 10px;
    border: black solid 1px;
}

#title {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}