
img {
    height: 80%;
    width: 100%;
}
header {
    background-color:lightskyblue;
    height: 25rem;
    color: white;
    
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
    
}

body {
    margin: 0;
    padding: 0;
}




#porque {
    padding: 1%; 
}

.data {
    margin-top: 10px;
    margin-bottom: 10px;
    border: black solid 1px;
}

#title {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
}